.fgo .mantine-NumberInput-input {
    color: var(--mantine-color-blue-text);
    background-color: var(--mantine-color-blue-light);
  }
  
.fgo .mantine-DateInput-input {
    color: var(--mantine-color-blue-text);
    background-color: var(--mantine-color-blue-light);
  }
  