.nikki .mantine-Select-input {
  color: var(--mantine-color-pink-text);
  background-color: var(--mantine-color-pink-light);
}

.nikki .mantine-NumberInput-input {
  color: var(--mantine-color-pink-text);
  background-color: var(--mantine-color-pink-light);
}

.nikki .mantine-DateInput-input {
  color: var(--mantine-color-pink-text);
  background-color: var(--mantine-color-pink-light);
}
